<section id="get-involved">
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="row py-4 mb-5 justify-content-center">
                <div class="col-12 col-xl-4 text-center">
                    <h2 class="pink mb-3">Get involved</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor viverra et
                        venenatis
                        pharetra.
                        Mollis orci, non duis praesent ut.</p>
                    <a href="{{ site.baseurl }}/explore" class="primary-button" title="Call to Action">Call to
                        Action</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid background-footer">
        <div class="container">
            <footer class="py-4">
                <p class="mb-0">Copyright 2021 Internews - Some rights reserved.</p>
            </footer>
        </div>
    </div>
</section>