// Default colors
$white: #ffffff;
$black: #000000;

// Color palettes

// Light mode 01
// Background
$golden-fizz: #daf631;
// Content
$dark-violet: #8f09b0;

// Light mode 02
// Background
$aquamarine: #daf631;
// Content
$eggplant: #c50083;

// Dark mode 01
// Background
$medium-red-violet: #ac2d94;
// Content
$witch-haze: #f1fc71;

// Dark mode 02
// Background
$purple-heart: #541ec5;
// Content
$hot-pink: #fc71bc;
