@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/space-grotesk/space-grotesk-regular.woff2") format("woff2"),
    url("../fonts/space-grotesk/space-grotesk-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/space-grotesk/space-grotesk-600.woff2") format("woff2"),
    url("../fonts/space-grotesk/space-grotesk-600.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/space-grotesk/space-grotesk-500.woff2") format("woff2"),
    url("../fonts/space-grotesk/space-grotesk-500.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/space-grotesk/space-grotesk-700.woff2") format("woff2"),
    url("../fonts/space-grotesk/space-grotesk-700.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/noto-sans/noto-sans-regular.woff2") format("woff2"),
    url("../fonts/noto-sans/noto-sans-regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/noto-sans/noto-sans-700.woff2") format("woff2"),
    url("../fonts/noto-sans/noto-sans-700.woff") format("woff");
}
